<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <br>
            <h1 class="display-3 mt-3 pt-5">
               <p class="fs-1 fw-bolder">Web Development E-Book </p> 
            </h1>
            <p class=" fst-italic fs-4">Learn Web Development front to back</p>
            <form action="/charge" method="POST">
                 <script src="https://checkout.stripe.com/checkout.js"
                 
                 class="stripe-button"
                 data-key="{{stripePublishableKey}}"  
                 data-amount="100"
                 data-name="Web Development Ebook"
                 data-description="E-book for web development"
                 data-zip-code="false"
                 data-image="/public/img/marketplace.png"
                 data-locale="auto"
                  
                ></script>
                <script>
                 //Hide default stripe button
                 document.getElementsByClassName('stripe-button-el')[0]
                 .style.display= 'none';
                </script>
                <button type="submit" class="btn btn-success text-white btn-lg">Purchase for $1</button>
            </form>
        </div>
        <div class="col-md-6 w-25 p-3">
            <img src="/img/book.png" alt="" class="img-fluid">
        </div>
    </div>
</section>