<div class="container d-flex justify-content-center">
<section class="py-5 ">
    <h1 class="display-2" style="color: #fff;">
        Thank You
    </h1>

    <p class="font-weight-bolder"> Your E-Book should be emailed to you within <b>1</b> business day</p>
    <a href="/" class="btn btn-danger btn-lg">Go Back</a>
</section>
</div>
